{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
    maximum-scale=1.0, minimum-scale=1.0">
    <meta name="JOSATEL" content="Fibra Optica, Resistivdad de terreno, Tendido de cables, Certificaciones">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>JOSATEL: FIBRA OPTICA, RESISTIVIDAD DE TERRENO, CABLEADO ESTRUCTURADO E INGENIERIA.</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="dist/css/poncho.min.css" rel="stylesheet">
    <link href="dist/css/icono-arg.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--CSS BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}?{% now 'U' %}">

    <!-- BOOTRSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</head>

<body>

    <div>
        <header>
            <title>JOSATEL: FUSION FIBRA OPTICA CABECERAS Y MUFAS, RESISTIVIDAD ELECTRICA DE TERRENO, RESISTIVIDAD MALLA
                PUESTA A TIERRA, CABLEADO ESTRUCTURADO, CERTIFICACIÓN E INGENIERIA</title>
            <hr size="10px" color="black" />
            <div class=container>
                <form class="form-inline my-5 my-lg-2">
                    <a href="#" class="logo"><img src="{% static 'img/logo.PNG' %}" class="logo-img"></a>
                    <h3>FUSIÓN Y CERTIFICACIÓN FIBRA OPTICA CABECERAS Y MUFAS, RESISTIVIDAD ELECTRICA DE TERRENO
                        ,RESISTIVIDAD DE MALLA PUESTA A TIERRA, CABLEADO ESTRUCTURADO, CERTIFICADO CARRETE FIBRA,
                        REPARACION Y/O MANTENCIÓN FALLAS FUSION FIBRA OPTICA</h3>
                    <hr>
                </form>
            </div>


            <nav class="navbar navbar-expand-lg navbar-light bg-light" id=menuu>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}"><b>Inicio</b> <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'servicios' %}"><b>Servicios</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}"><b>Contacto
                                </b></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'experienciayclientes' %}" tabindex="-1"
                                aria-disabled="true"><b>Experiencia y Clientes</b></a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
    </div>

    <br>
    <br>
  

    <hr size="10px" color="black" />


    <br>
    <div class="container" id="apiwsp">
        <h4>COTIZAR O AGENDAR VISITA TECNICA A JOSESALAS@JOSATEL.CL Y POR EL NUMERO +56990084192 ADEMAS DE APP WHATSAPP</h4>
        <a href="https://api.whatsapp.com/send?phone=56990084192&text=hola,%20quiero%20cotizar%20porfavor"
            class="whatsapp-button">WHATSAPP LLAMADA O ESCRITO</a>
    </div>

    <br>
    <br>
    <a href="https://api.whatsapp.com/send?phone=56990084192&text=hola,%20quiero%20cotizar%20porfavor"
        class="whatsapp-link" target="_blank">
        <img src="{% static 'img/wsp.PNG' %}" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-message">Cotizar</span>
    </a>


    <hr size="10px" color="black" />
    <!--FOOTER -->
    <footer id=footerprincipal>
        <div class="row">
            <div class="col-12 col-md">

                <small class="d-block mb-3 text-muted">&copy; 2007-2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>Contacto</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted">Telefono: +56990084192</a></li>
                    <li><a class="text-muted">josesalas@josatel.cl</a></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Redes</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a class="text-muted" href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Acerca</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'index' %}">Contacto</a></li>
                    <li><a class="text-muted" href="{% url 'index' %}">Ubicacion</a></li>
                    <li><a class="text-muted">Trabajos en TODAS las regiones de Chile</a></li>
                </ul>
            </div>
        </div>
    </footer>


</body>

</html>